# IDE
.vs
*/*.csproj.user
.idea

# Output
*/bin
*/obj
@xoutput/*/dist
@xoutput/*/lib
@xoutput/webapp/webapp

# Nuget packages
packages
*.nupkg

# Test result files
TestResults
*Tests/coverage.*.opencover.xml

# node modules
node_modules
