[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = DirectInput to XInput wrapper
[access "refs/*"]
	owner = group user/Ármin Csutorás (csutorasa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ármin Csutorás (csutorasa)
	label-Verified = -1..+1 group user/Ármin Csutorás (csutorasa)
	push = group user/Ármin Csutorás (csutorasa)
	read = group user/Ármin Csutorás (csutorasa)
	rebase = group user/Ármin Csutorás (csutorasa)
	removeReviewer = group user/Ármin Csutorás (csutorasa)
	submit = group user/Ármin Csutorás (csutorasa)
[access "refs/heads/*"]
	create = group user/Ármin Csutorás (csutorasa)
	push = +force group user/Ármin Csutorás (csutorasa)
	pushMerge = group user/Ármin Csutorás (csutorasa)
	read = group user/Ármin Csutorás (csutorasa)
[access "refs/tags/*"]
	push = group user/Ármin Csutorás (csutorasa)
	push = +force group user/Ármin Csutorás (csutorasa)
