* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body, body > div, .root {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.root {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: white;
}

@mixin center-text {
    display: flex;
    align-items: center;
    > .inner {
        margin: 0 auto;
    }
}
.square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    > * > * {
        height: 100%;
    }
}
.button {
    background-color: lightgray; 
    text-align: center;
    align-content: middle;
    @include center-text;
}
.circle {
    border-radius: 1000px;
}
.slider-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    > * {
        height: 100%;
    }
    .slider {
        background-color: gray;
        position: relative;
    } 
    .fill {
        top: 0;
        bottom: 0;
        &:not(.inverted) {
            left: 0;
        }
        &.inverted {
            right: 0;
        }
    }
}
.fill {
    background-color: lightblue;
    position: absolute;
}
.text {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    color: white;
    @include center-text;
}
.twodimensional {
    background-color: gray;
    position: relative;
}
.dpad {
    background-color: gray;
    position: relative;
}